.crossword-grid {
  display: grid;
  grid-template-rows: repeat(8, 40px);
  grid-auto-flow: row;
}

.crossword-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.crossword-cell {
  width: 60px;
  height: 60px;
  border: 1px solid #333;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 60px;
  text-align: center;
}

.filled {
  background-color: orange;
}

.empty {
  background-color: lightblue;
}
